body {
    background-color: rgb(88, 85, 84);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

/* Bordered form */
form {
    border: 6px solid #0c0c0c;
    width: 500px;
    height:600px;
    background: #74747036;
    color: whitesmoke; 
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 25px;
    padding: 90px 10px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #454e4a87;
    color: black;
    padding: 18px 24px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
    font-size: large;
    font-weight: bold;
  }

  .login-buttons {
    display: flex;
    justify-content: space-between;
    width: 300px; /* adjust this value to your desired width */
    margin: 0 auto; /* centers the buttons horizontally */
    padding: 10px 20px;
    border-radius: 4px;

  }
  
  .Google,
  .Facebook {
    width: 48%; /* adjusts the width of each button */
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
   
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
    color: rgba(3, 52, 89, 0.918);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  th, td {
    text-align: left;
    padding: 3px;
    border: 3px solid #ddd;
  }
  
  th {
    background-color: #bdb7b7;
    color: #141515;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  .edit-btn, .delete-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
  }
  
  .delete-btn {
    background-color: #f44336;
    margin: 0 auto;
  }
  
  .edit-btn:hover, .delete-btn:hover {
    background-color: #3e8e41;
    margin: 0 auto;
  }
  
  .edit-btn:active, .delete-btn:active {
    background-color: #3e8e41;
    transform: translateY(1px);
  }
  